/*==========  Desktop First Method  ==========*/
@media (max-width: 1400px) {
  .boxes- {
    width: 25%; }
  .lang-wrapper {
    margin-left: 10%;
    margin-right: 5%; }
  .section_3 {
    height: 1185px; } }

/* Large Devices, Wide Screens */
@media (max-width: 1200px) {
  .lang-wrapper {
    margin-left: 5%; }
  .logo {
    margin-left: -50px; }
  .top_soc_buttons {
    margin-left: 113px; }
  .languages {
    margin-left: 300px; }
  .top_menu {
    margin-left: -55px; }
  .about_text {
    margin-top: -150px;
    margin-left: -30px; }
  .about_rectangle {
    margin-top: 460px;
    height: 120px;
    margin-left: -50px; }
  .section_1 img {
    margin-top: 10px; }
  .header_rectangle_1, .header_rectangle_2, .header_rectangle_3 {
    margin-left: 600px; }
  .section_2 {
    height: 940px;
    width: 100%; }
  .rectangle_1, .rectangle_2, .rectangle_3, .rectangle_4 {
    margin-left: -15%; }
  .text_1, .text_2, .text_3, .text_4 {
    margin-right: -10%; }
  .section_3 {
    height: 1190px; }
  .footer_content {
    width: 960px; }
  .my-column-2 p {
    margin-left: 20px; } }

@media only screen and (max-width: 1130px) {
  .logo {
    margin-left: 10px; }
  .top_soc_buttons {
    margin-left: 173px; }
  .about_text {
    margin-left: 30px; }
  .about_rectangle {
    margin-left: 10px; }
  .footer_content {
    width: 960px; }
  .header_rectangle_1, .header_rectangle_2, .header_rectangle_3 {
    margin-left: 645px;
    width: 300px; }
  .header_rectangle_3 p {
    margin-left: 60px; }
  .header_rectangle_2 p {
    margin-left: 110px; }
  .header_rectangle_1 p {
    margin-left: 80px; }
  .text_1, .text_2, .text_3, .text_4 {
    margin-right: 3%; }
  .my-column-2 p {
    margin-left: 20px; } }

/* Medium Devices, Desktops */
/* todo */
@media only screen and (max-width: 992px) {
  .logo {
    margin-left: -50px; }
  .top_soc_buttons {
    margin-left: 113px; }
  .languages {
    margin-left: 140px; }
  .main_mnu_button {
    margin-left: 373px; }
  .section_1 {
    height: 600px; }
    .section_1 img {
      margin-top: 20px; }
  .about_rectangle {
    margin-top: 415px; }
  .about_text {
    margin-top: -70px; }
  .rectangle_1, .rectangle_2, .rectangle_3, .rectangle_4 {
    margin-left: -27%; }
  .text_1, .text_2, .text_3, .text_4 {
    margin-right: -13%; }
  .header_rectangle_1, .header_rectangle_2, .header_rectangle_3 {
    margin-left: 480px; }
  .section_2 {
    height: 1100px; }
  .section_3 {
    height: 1190px; }
  .section_4 {
    height: 720px; }
  .content {
    margin-left: -40px; }
  .price_description {
    width: 730px; }
  .footer_content {
    margin-left: 50px;
    width: 860px; }
    .footer_content .col-sm-1:last-of-type {
      margin-left: -50px; }
    .footer_content .logo_bottom {
      margin-left: -30px; }
    .footer_content .my-column-1 {
      margin-left: -20px; }
    .footer_content .my-column-2 {
      margin-left: -89px; }
    .footer_content .my-column-4 {
      margin-left: -62px; }
    .footer_content .my-column-6 {
      margin-left: -33px; }
  .footer {
    height: 250px; }
  .foot {
    margin-left: 40px; }
  .logo {
    margin-left: -10px; }
  .top_soc_buttons {
    margin-left: 150px; } }

@media (max-width: 920px) {
  .boxes- {
    width: 33%; }
  .lang-wrapper {
    margin-right: -5%; }
  .section_3 {
    height: 1600px; } }

@media only screen and (max-width: 870px) {
  .footer {
    height: 250px; }
  .logo {
    margin-left: -10px; }
  .top_soc_buttons {
    margin-left: 150px; }
  .footer_content {
    width: 770px;
    margin-left: 30px; }
  .my-column-6 {
    margin-right: -60px;
    width: 40px; } }

@media only screen and (max-width: 768px) {
  .top_menu_items {
    display: none; }
  .footer {
    height: 250px; } }

@media (max-width: 640px) {
  .boxes- {
    width: 100%;
    margin-left: 20%; } }

/* Small Devices, Phones */
@media only screen and (max-width: 320px) {
  .logo {
    margin-left: 5px; }
  .main_head {
    max-height: 50px; }
    .main_head .logo_bottom, .main_head span, .main_head .top_soc_buttons, .main_head .top_phone, .main_head .top_menu_items {
      display: none; }
  .languages a {
    display: none; }
  .section_1 {
    height: 600px;
    width: 100%; }
    .section_1 .about_text {
      margin-top: -38px;
      margin-left: 20px;
      width: 280px; }
    .section_1 .about_rectangle {
      margin-top: 280px;
      width: 298px;
      height: 270px;
      margin-left: 3px; }
  .main_mnu_button {
    margin-left: 150px;
    margin-top: -120px;
    float: right; }
  .fa-bars {
    color: #cda845;
    font-size: 27px; }
  .img_sect_1 {
    background-image: url(../img/sect_1_bg_soft_borders.jpg);
    height: 300px;
    width: 129%;
    background-size: 120%;
    margin-left: -92px;
    margin-top: 16px; }
  .section_1 img {
    display: none; }
  .header_rectangle_1, .header_rectangle_2, .header_rectangle_3 {
    margin-left: 147px;
    width: 140px; }
    .header_rectangle_1 p, .header_rectangle_2 p, .header_rectangle_3 p {
      margin-left: 18px;
      font-size: 18px;
      padding-top: 13px; }
  .header_rectangle_1 {
    margin-top: 15px; }
  .header_rectangle_2 {
    margin-left: 147px; }
    .header_rectangle_2 p {
      margin-left: 53px; }
  .rectangle_1, .rectangle_2, .rectangle_3, .rectangle_4 {
    width: 160px; }
    .rectangle_1 p, .rectangle_2 p, .rectangle_3 p, .rectangle_4 p {
      margin-left: 34px; }
  .lang-column-1 {
    margin-left: 20px; } }
