.logo_up {
  color: #cda845; }

.slash {
  color: #d5d4d4; }

.logo_bottom {
  color: #d5d4d4; }

.top_phone {
  color: #d5d4d4; }

.fa {
  color: #cda845; }

.languages a {
  color: #cda845; }

.top_menu_items a {
  color: #d5d4d4; }

.main_mnu_button {
  background-color: transparent;
  border: none; }

.fa-bars {
  color: #d5d4d4; }

.rectangle_1, .rectangle_2, .rectangle_3, .rectangle_4 {
  background-color: #cda845;
  font-color: #3a2838; }

.header_rectangle_1, .header_rectangle_2, .header_rectangle_3 {
  background-color: #cda845;
  color: #3a2838; }

.lang- {
  color: #d5d4d4; }

.let- p {
  color: #cda845; }

.logo_bottom {
  color: #d5d4d4; }

.footer p {
  color: #d5d4d4; }

.footer-buttons .fa {
  color: #d5d4d4; }
